[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colibris = {git = 'https://gitlab.com/safefleet/colibris.git'}

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
